<section class="skills">
    <div class="heading">Technical Proficiencies <span class="remark">(5:Fluent, 4:Good, 3:OK, 2:Prior Experience, 1:Experimental)</span></div>
    <table>
        {{#skills}}
        <tr>
            <th>{{key}}</th>
            <td>{{>skill}}</td>
        </tr>
        {{/skills}}
    </table>
</section>
