<section class="skills">
    <div class="heading">Technical Proficiencies</div>
    <table>
        {{#skills}}
        <tr>
            <th>{{key}}</th>
            <td>{{>skill}}</td>
        </tr>
        {{/skills}}
    </table>
</section>
