{{#experiences}}
<div class="job-experience">
    <div class="row">
        <span class="job-title left-col-half">{{title}}</span>
        <span class="job-location right-col-half">{{company}}, {{office}}</span>
    </div>
    <div class="projects">
        {{#projects}}
        <div>
            <div class="name">{{name}}</div>
            <div class="description">{{description}}</div>
        </div>
        {{/projects}}
    </div>
</div>
{{/experiences}}