{{#experiences}}
<div class="job-experience">
    <div>
        <span class="job-title">{{title}}</span>
        <span class="job-location">{{company}}, {{office}}</span>
    </div>
    <div class="projects">
        {{#projects}}
        <div>
            <div class="name">{{name}}</div>
            <div class="description">{{description}}</div>
        </div>
        {{/projects}}
    </div>
</div>
{{/experiences}}